.info-square {
    width: 100%;
    height: auto;
    height: 20rem;
    background-color: $gray-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    padding: 1.5rem;

    @media (min-width: 768px) {
        width: 20rem;
    }

    &__number {
        position: absolute;
        bottom: -3.75rem;
        left: 1.5rem;
        font-size: $font-size-7xl;
        @extend .font-black;

        span {
            color: $primary-color;
        }
    }

    &__title {
        font-size: $font-size-2xl;
        @extend .font-black;
    }
}