.color-primary {
    color: $primary-color
}

.color-dark {
    color: $dark-color
}

.color-white {
    color: $white-color
}

.color-black {
    color: $black-color
}

.color-light {
    color: $light-color;
}