footer {
    background-color: $dark-color;
    padding-top: 6.25rem;

    .footer-header {
        h4 {
            @extend .font-black;
            font-size: $font-size-4xl;
            color: $white-color;
            text-transform: uppercase;

            span {
                color: $primary-color;
            }
        }

        p {
            color: $white-color;
        }
    }

    .contact-info-wrapper {
        .contact-info {
            margin: 1rem 0;

            &__label {
                color: $primary-color;
                size: $font-size-xl;
                display: block;
            }

            &__value {
                color: $white-color;
                text-decoration: none;
                font-size: $font-size-2xl;
                @extend .font-black;
            }
        }
    }

    .social-media {
        display: flex;
        align-items: center;
        margin-top: 2rem;

        &__item {
            text-decoration: none;
            text-transform: uppercase;
            padding-right: 2rem;
            color: $white-color;
            font-size: $font-size-md;
            opacity: .75;
            @extend .font-medium;
        }
    }

    form {

        input,
        textarea {
            background-color: $dark-color  !important;
            border: none !important;
            border-bottom: 2px solid $white-color  !important;
            border-radius: 0 !important;
            color: $white-color  !important;
        }
    }

    .bottom-panel-container {
        margin-top: 4rem;
        background-color: #1E1E1E;
        color: $white-color;
        padding: 1rem;

        .bottom-panel-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;

            &__date,
            &__link {
                opacity: 0.5;
            }

            &__link {
                text-decoration: none;
                color: $white-color;
                padding: 0.75rem .5rem;
            }
        }

    }
}