.background-primary {
    background-color: $primary-color
}

.background-dark {
    background-color: $dark-color
}

.background-white {
    background-color: $white-color
}

.background-black {
    background-color: $black-color
}

.background-light {
    background-color: $light-color;
}