@import 'app';

html {
    font-size: $font-size-base;
    font-family: $font-famely;
}

/*#region global styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    padding: 6.25rem 0;
}

@media(max-width: 992px) {
    html {
        font-size: $font-size-sm;
    }
}